<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<title>Xiyousta</title>
<link href="{% static 'demo/enroll_css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'demo/enroll_css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'demo/enroll_css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all" />

<!-- js -->

<!-- //js -->
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Black and White Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

<!-- start-smoth-scrolling -->

<!-- start-smoth-scrolling -->
<!-- hover-effects -->

<!-- //hover-effects -->
</head>
  
<body>
<!-- banner -->

<!-- //banner -->

<!-- banner-bottom -->
  <div id="services" class="banner-bottom">
  <div class="container">
    <div class="banner-bottom-left">
      <div class="year1">
        <h3>11.18-11.22</h3>
        <h4>纳新前宣传</h4>
        <p>实验室成员会进教室为大家简单介绍软协2016纳新情况<span>让大家对我们实验室有一定的了解，敬请期待！</span></p>
      </div>
        <div class="year-pos">
          <img src="{% static 'demo/enroll_images/1.png' %}" alt=" " />
        </div>
      <div class="year1 year3">
        <h3>11.26-11.30</h3>
        <h4>面试</h4>
        <p>带上你的面试题，带上你的自信，带上你的智慧<span>你离软协只差一步，你就是我们要找的人</span></p>
      </div>
      <div class="year-pos1">
        <img src="{% static 'demo/enroll_images/2.png' %}" alt=" " />
      </div>
    </div>
    <div class="banner-bottom-right">
      <div class="year1 year2">
        <h3>11.23</h3>
        <h4>纳新宣讲会</h4>
        <p>地点：东区逸夫教学楼ff307<br>时间：19:00<br>这里有实验室纳新详细的介绍，有学长学姐分享学习经验，有丰厚的礼品......</p>
      </div>
      <div class="year-pos2">
        <img src="{% static 'demo/enroll_images/3.png' %}" alt=" " />
      </div>
      <div class="year1 year4">
        <h3>12.01</h3>
        <h4>公布人选名单</h4>
        <p>希望你的名字将会出现在这里<span>加油吧，少年！</span></p>
      </div>
      <div class="year-pos3">
        <img src="{% static 'demo/enroll_images/4.png' %}" alt=" " />
      </div>
    </div>
    
  </div>
    <div class="grid-bann">
      <span></span>
    </div>
    
  </div>
<!-- //banner-bottom -->
<!-- team -->
  <div id="team" class="team">
  <div class="container">
      <h2>西邮软协纳新啦</h2>
      
  </div>
  </div>
<!-- //team -->
<!-- blog -->
  <div class="blog">
   <div class="container">
        <div class="row heading">
          <div class="col-lg-12">
            <h2 style="color:#B7B7B7;margin-top:50px;text-align:center">Contact us</h2>
            <hr class="line-2">
            <div class="intro"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="ch-grid">
              <div class="ch-item">
              <div style="margin-top:40px">
                <img src="{% static 'demo/enroll_images/b_jiaoliu.png' %}" alt="weizhi">
                <p style="color:#B7B7B7;font-size:18px;">2016纳新交流群<br>
                    192807007
                <a href="https://jq.qq.com/?_wv=1027&k=41c59tX" target="_blank"><p style="color:#B7B7B7;font-size:15px;">点击加入</p></a></p>
               </div>
                </div>
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="ch-grid">
              <div class="ch-item ch-img-5">
               <div style="margin-top:50px">
                
        <img src="{% static 'demo/enroll_images/b_xl-log.png' %}" alt="weibo">
         
        <p style="color:#B7B7B7;font-size:18px;"><a href="http://weibo.com/xiyousta" target="_blank">西邮软件科技协会</a></p>
        </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ch-grid">
              <div class="ch-item1 ch-img-6">
               <div class="ch-top">
                 <img src="{% static 'demo/enroll_images/b_weixin.png' %}" alt="weixin">
                <p style="color:#B7B7B7;font-size:18px;">
                  微信公众号<br>sta_xupt
                </p>
                </div>
                 <div class="ch-info">
                    <img src="{% static 'demo/enroll_images/wei-erweima.jpg' %}">
                 </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ch-grid">
              <div class="ch-item ch-img-7">
               <div style="margin-top:50px">
                 <img src="{% static 'demo/enroll_images/b_word.png' %}" alt="shiti">
                <p style="color:#fff;font-size:18px;"><a href="{% url 'question' %}"> 2016纳新笔试题<br>下载</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        </div>          
      </div>
  </div>
<!-- //blog -->
<!-- contact -->
  <div style="width:100%;background:#fff;padding-top:20px;padding-bottom:20px;padding-left:10px;padding-right:10px">
    <div class="center">
      <h2>Submit your application</h2>
      <p class="lead">请填写你正确的信息，并发送给我们，让我们更好的了解你</p>
    </div> 
    <form action="contact_me.php" name="sentMessage" id="contactForm" novalidate>
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <div class="form-group">
            <label>姓名 *</label>
            <input type="text" id="name" name="Username" class="form-control"  onblur="identify1();">
            <img id="name_i" style="margin:0px 3px 0px 0px"><span id="name_p" style="height:10px;color:#ff0000;" ></span>
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <label>学号 *</label>
            <input type="text" id="id" name="Id" class="form-control"  onblur="identify2();"><img id="id_i" style="margin:0px 3px 0px 0px">
            <span id="id_p" style="height:10px;color:#ff0000;" ></span>
            <p  class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <label>电话 *</label>
            <input type="tel" id="phone" name="PhoneNumber" class="form-control" onblur="identify3();">
            <img id="phone_i" style="margin:0px 3px 0px 0px"><span id="phone_p" style="height:10px;color:#ff0000;" ></span>
            <p class="help-block text-danger"></p>
          </div>
           <div class="form-group">
            <label>专业班级 *</label>
            <input type="text" id="major" name="major" class="form-control" onblur="identify4();">
            <img id="major_i" style="margin:0px 3px 0px 0px"><span id="major_p" style="height:10px;color:#ff0000;" ></span>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label>留言 *</label>
            <textarea name="message" id="message" name="Message" required class="form-control" style="height:290px;"></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="col-lg-12 text-center">
          <div id="success"></div>
          <button type="submit" class="btn btn-primary btn-lg" onclick="">Submit</button>
        </div>
      </div>
    </form>
 
</div>

<!-- //contact -->
<!-- footer -->
  <footer id="footer">

  <center><span style="margin-bottom:5px">西安邮电大学软件科技协会版权所有 &copy; 2016 XiyouSTA </span><br></center>

</footer>
<!-- //footer -->
<!-- here stars scrolling icon -->
  <script src="{% static 'demo/enroll_js/contact_me.js' %}"></script>
  <script src="{% static 'demo/enroll_js/contact_validation.js' %}"></script>
  <script src="{% static 'demo/enroll_js/jquery.min.js' %}"></script>
</body>
</html>