<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
<meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Xiyou STA | Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
  <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
  <meta name="author" content="FREEHTML5.CO" />

  <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Google Webfonts -->
  <link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.useso.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  
  <!-- Animate.css -->
  <link rel="stylesheet" href="{% static 'demo/css/animate.css' %}">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="{% static 'demo/css/icomoon.css' %}">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="{% static 'demo/css/magnific-popup.css' %}">
  <!-- Salvattore -->
  <link rel="stylesheet" href="{% static 'demo/css/salvattore.css' %}">
  <!-- Theme Style -->
  <link rel="stylesheet" href="{% static 'demo/css/style.css' %}">
  <!-- Modernizr JS -->
  <script src="{% static 'demo/js/modernizr-2.6.2.min.js' %}"></script>

<!-- core CSS -->
<link href="{% static 'demo/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'demo/css/prettyPhoto.css' %}" rel="stylesheet">
<link href="{% static 'demo/css/main.css' %}" rel="stylesheet">
<link href="{% static 'demo/css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'demo/css/font-awesome.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'demo/css/member.css' %}">
<link href="{% static 'demo/css/style.css' %}" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="{% static 'demo/https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
      <script src="{% static 'demo/https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
    <![endif]-->
</head>
<!--/head-->
<body>
<header id="header">
  <nav class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="{% url 'index' %}"><span class="STA">XiyouSTA</span></a> </div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}">主页</a></li>
          <li><a href="{% url 'about' %}">关于我们</a></li>
          <li><a href="{% url 'services' %}">最新动态</a></li>
          <li class="active"><a href="{% url 'portfolio' %}">成员简介</a></li>
          <li><a href="{% url 'pricing' %}">竞赛</a></li>
          <li><a href="{% url 'contact' %}">联系我们</a></li>
        </ul>
      </div>
    </div>
    <!--/.container--> 
  </nav>
  <!--/nav--> 
</header>
<!--/header-->
<div id="inner-page">
    <div class="top-center">
      <h2>我们的大家庭</h2>
      <p class="lead">我们没有朋友，只有家人<br>We don't have friends,We have family</p>
    </div>
    <div class="container">
    <ul class="portfolio-filter text-center">
      <li><a class="btn btn-default " href="{% url 'portfolio' %}" data-filter="*">集体合照</a></li>
      <li><a class="btn btn-default " href="{% url 'portfolio1' %}" data-filter=".cmp">往届成员</a></li>
      <li><a class="btn btn-default active" href="#" data-filter=".now">2014级</a></li>
      <li><a class="btn btn-default" href="{% url 'portfolio3' %}" data-filter=".old">2015级</a></li>
    </ul>
    <!--/#portfolio-filter-->
    <!--我们-->
    <div class="row">

        <div id="fh5co-board" data-columns>

          <div class="item">
            <div class="animate-box">
              <a href="{% static 'demo/image/three/mxr_f.jpg' %}" class="image-popup fh5co-board-img"><img src="{% static 'demo/image/three/mxr_f.jpg' %}" ></a>
            <div class="fh5co-desc"><p>马星锐</p><span>软件1403班</span></div>
          </div>
          </div>
         
           
          <div class="item">
            <div class="animate-box">
              <a href="{% static 'demo/image/three/zx_f.jpg' %}" class="image-popup fh5co-board-img"><img src="{% static 'demo/image/three/zx_f.jpg' %}" ></a>
              <div class="fh5co-desc"><p>张璇</p><span>软件1403班</span></div>
            </div>
            </div>
             <div class="item">
            <div class="animate-box">
              <a href="{% static 'demo/image/three/xgy_f.jpg' %}" class="image-popup fh5co-board-img"><center><img src="{% static 'demo/image/three/xgy_f.jpg' %}"></center></a>
              <div class="fh5co-desc"><p>谢干英</p><span>网络1402</span></div>
            </div>
          </div>
         
          
           
          <div class="item">
            <div class="animate-box">
              <a href="{% static 'demo/image/three/wb_f.jpg' %}" class="image-popup fh5co-board-img"><center><img src="{% static 'demo/image/three/wb_f.jpg' %}" ></center></a>
              <div class="fh5co-desc"><p>王波</p><span>软件1401班</span></div>
            </div>
          </div>
           <div class="item">
            <div class="animate-box">
              <a href="{% static 'demo/image/three/sgm.jpg' %}" class="image-popup fh5co-board-img"><img src="{% static 'demo/image/three/sgm.jpg' %}" ></a>
              <div class="fh5co-desc"><p>史国梅</p><span>软件1403班</span></div>
            </div>
          </div>
           <div class="item">
            <div class="animate-box">
              <a href="{% static 'demo/image/three/yc_f.jpg' %}" class="image-popup fh5co-board-img"><center><img src="{% static 'demo/image/three/yc_f.jpg' %}"></center></a>
              <div class="fh5co-desc"><p>杨超</p><span>软件1401班</span></div>
            </div>
          </div>
          
           <div class="item">
            <div class="animate-box">
              <a href="{% static 'demo/image/three/yj_f.jpg' %}" class="image-popup fh5co-board-img"><center><img src="{% static 'demo/image/three/yj_f.jpg' %}"></center></a>
              <div class="fh5co-desc"><p>鱼娟</p><span>软件1403</span></div>
            </div>
          </div>
           <div class="item">
            <div class="animate-box">
              <a href="{% static 'demo/image/three/yhb_f.jpg' %}" class="image-popup fh5co-board-img"><center><img src="{% static 'demo/image/three/yhb_f.jpg' %}"></center></a>
              <div class="fh5co-desc"><p>闫鸿博</p><span>计科1402</span></div>
            </div>
          </div>
          </div>
          </div>
    
 </div>
 </div>       

       

<!--/#portfolio-item-->
<section id="get-started">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
       <h2>有问题? 我们可以为您答疑解惑</h2>
        <p>如果您想加入我们，请为我们提交您的申请表单<br>
         Thank you for your visit.</p>
        <a href="{% url 'contact' %}" class="btn btn-primary" style="background-color:#f39c12">联系我们</a> </div>
    </div>
  </div>
  <!--/.container--> 
</section>
<!--/#get-started-->
<footer id="footer">
  <div class="container">
    <div class="row">
    <div class="col-sm-3  block-tit">
        <div class="footer-tit">
          主管部门：
        </div>
        <span class="p-font">西安邮电大学计算机学院</span>
        <span class="p-font">               
          软件工程系
        </span> 
      </div>
      <div class="col-sm-3  block-tit">
        <div class="footer-tit">
          相关链接：
        </div>
          <span class="p-font"> <a href="http://222.24.19.3:81/xiyoucs/index.asp" target="_blank">西安邮电大学计算机学院</a>
        </span>
        <br>
        <span class="p-font">
          <a href="http://acm.xupt.edu.cn/" target="_blank">XUPT Online Judge</a>
        </span>
      </div>
      
      <div class="col-sm-3 block-tit"> 
        <div class="footer-tit">
         联系地址：
        </div>
        <span class="p-font">                   
          西安邮电大学长安校区
        </span>
        <span class="p-font">               
          东区逸夫楼 FZ129
        </span>
      </div>
      <div class="col-sm-3 block-tit"> 
        <div class="footer-tit">
         关注我们：
        </div>
        <span class="p-font">      
          微信公众号: sta_xupt
        </span>
        <br>
        <span>      
          <img src="{% static 'demo/images/STA.jpg' %}" style="width: 40%; height: 40%" alt="weixin">
        </span>
      </div>
     
    </div>
</div>
<div class="col-md-12">
  <center><span>西安邮电大学软件科技协会版权所有 &copy; 2016 XiyouSTA </span></center>
</div>
</footer>
<!--/#footer--> 
<script src="{% static 'demo/js/jquey-bigic.js' %}"></script> 
<script src="{% static 'demo/js/jquery.js' %}"></script> 
<script src="{% static 'demo/js/bootstrap.min.js' %}"></script> 
<script src="{% static 'demo/js/jquery.prettyPhoto.js' %}"></script> 
<script src="{% static 'demo/js/jquery.isotope.min.js' %}"></script> 
<script src="{% static 'demo/js/main.js' %}"></script>
<script src="{% static 'demo/js/jquery.min.js' %}"></script>
  <!-- jQuery Easing -->
  <script src="{% static 'demo/js/jquery.easing.1.3.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'demo/js/bootstrap.min.js' %}"></script>
  <!-- Waypoints -->
  <script src="{% static 'demo/js/jquery.waypoints.min.js' %}"></script>
  <!-- Magnific Popup -->
  <script src="{% static 'demo/js/jquery.magnific-popup.min.js' %}"></script>
  <!-- Salvattore -->
  <script src="{% static 'demo/js/salvattore.min.js' %}"></script>
  <!-- Main JS -->
  <script src="{% static 'demo/js/main.js' %}"></script>

</body>
</html>
